html {
  background-color: #f7fafa;/*#bfbfbf;*/
  font-size: 17px;
  /* font-family: 'Merriweather', serif; */
  font-family: 'PT Serif', serif;
}

div.notebook {
  background-color: #a1c4c4;
}

body {
  width: 70%;
  margin: 0 auto; /* Put text in middle of page */
  padding: 0 50px 10px 50px;
  background-color: #f7fafa /*#d9fffd;  Select off-white color */
}

#main_list li {
  list-style: none;
}

#main_list a {
  text-decoration: none;
}

img {
  width: 60%;
  display: block;
  margin: 0 auto;
}

figure img {
  width: 80%;
}

div.change_img {
  /* text-align: center; */
}

figure {
  /* display: inline; */
}

figcaption {
  text-align: center;
}

/* Make title in center and put padding below text */
h1, h2, h3 {
  text-align: center;
}


/* HOW TO GET TO WORK??? */
.post-top {
  text-align: center;
  font-size: 15px;
  color: #c7c7c7;
  margin-top: -10px;
  padding-bottom: 10px;
  border-bottom: 1px dotted black;
  margin-bottom: 40px;
}

/* Put padding above footer and put a bit of space on left before footer*/
footer {
  padding-top: 50px;
  font-size: 12px;
  margin-left: 10px;
}

/* Make preview list in blog.html and project-page.html shifted by changing margins */
div.shifted {
  text-align: center;
  /* margin-left: 40px; */
  font-size: 14px;
}

ul.shifted {
  list-style-type: none;
  padding-left: 0;
}

ul.shifted time {
  /* font-style: italic; */
  /* color: #c7c7c7; */
}

/* Nav-bar settings */
@media only screen and (max-width: 850px) {

}


nav.nav-bar {
  border-bottom: 5px double black;
  background-color: #f7fafa; /*#b6d6d5;*/
  padding-top: 6.5px;
  margin: auto -50px; /* extend nav-bar to end of page */
  margin-bottom: 40px;
}


#site-logo {
  display: inline;
  width: 65px;
  /* current pic has a 98∶85 aspect ratio */
}

#site-name {
  /* move site-name next to site-logo -- need to adjust if
  changing margin between list items */
  margin-left: -120px;
  margin-right: 0px;
  color: black;
}

li.search-bar button {
  /* float: left; */
}

input.search-bar {
  float: right;
  /* width: 250px;
  height: 30px; */
  /* border: 5px solid red; */
}

.nav-static-elements img {
  float: left;
  margin-top: -20px;
  margin-right: 20px;
}

.nav-elements {
  padding-top: 10px;
  padding-bottom: 10px;
  border-left: 1px solid black;
}

.nav-elements li a {

}

.nav-bar ul li {
  display: inline;
  margin: auto 40px; /*controls distance between nav-links*/
}

.nav-bar ul li a {
  font-size: 19px;
  text-decoration: none;
  /* font-weight: bolder; */
  color: black;
  /* padding: 15px; */
}

a:hover {
  color: black;
}

/* When hovering over block, highlight whole thing */
li a:hover {
  font-weight: bolder;
  /* background-color: black; */
}
