html {
  background-color: #bfbfbf;
  font-size: 18px;
  font-family: 'Merriweather', serif;
}

body {
  width: 80%;
  margin: 0 auto; /* Put text in middle of page */
  padding: 10px;
  background-color: #d9fffd; /* Select off-white color */
}

img {
  width: 40%;
  display: block;
  margin: 0 auto;
}

/* Make title in center and put padding below text */
h1 {
  text-align: center;
  padding-bottom: 50px;
}

/* HOW TO GET TO WORK??? */
time {
  text-align: center
}

/* Put padding above footer and put a bit of space on left before footer*/
footer {
  padding-top: 50px;
  font-size: 12px;
  margin-left: 10px;
}

/* Make preview list in blog.html shifted by changing margins */
.shifted {
  margin-left: 40px;
  font-size: 14px;
}

/* Nav-bar settings */
nav.nav-bar {
  border-bottom: 1px solid black;
  background-color: #f5fafa;
  padding-top: 15px;
}

#site-logo {
  display: inline;
  width: 70px;
}

#site-name {
  float: left;
  margin-right: 0px;
}

#search-bar {
  width: 250px;
  height: 30px;
}

.nav-static-elements img {
  float: left;
  margin-top: -25px;
  margin-right: 20px;
}

.nav-elements li a {

}

.nav-bar ul li {
  display: inline;
  margin: auto 40px; /*controls distance between nav-links*/
}

.nav-bar ul li a {
  text-decoration: none;
  color: black;
  padding: 15px;
}


/* When hovering over block, highlight whole thing */
li a:hover {
  background-color: gray;
}
