li, h1 {
  color: gray;
  width: 500px;
  font-family: 'Do Hyeon', sans-serif;
  /* border: 1px solid black; */
}

img {
  width: 500px;
}

/* Make red if hovered over */
a:hover {
  color: red;
}

/* Makes blue if element of class 'date' */
.date {
  color: blue;
}
